<h1>Create a New Article</h1>

<form action="/articles" method="post">
  <div>
    <label for="article_title">Title:</label>
    <input id="article_title" type="text" name="title">
  </div>
   <div>
    <label for="article_content">Content:</label>
    <input id="article_content" type="text" name="content">
   </div>
  <input type="submit" value="Submit">
</form>
